<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% .title %}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
	{% AssetRemote "js" "jquery.min-1.12.4.js" %}
    
</head>

<body>

	<form action="/login" method="POST">
		{%.xsrfHTML%}
		{%.captcha%}
		<br />
		<label for="name" >验证码</label>
		<input type="text" id="captcha" name="captcha">
		<br />
		<label for="name" >账号</label>
		<input type="text" id="name" name="name">
		<br />
		<label for="pwd" >密码</label> 
		<input type="password" id="pwd" name="pwd">
		<br />
		<button type="submit" >登陆</button>
	</form>
	

</body>

{%template  "base/foot.html" .%}